<!-- Checkout Start -->

<head>
    <meta charset="utf-8">
    <title>skathelts</title>

    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free HTML Templates" name="keywords">
    <meta content="Free HTML Templates" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">

    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>

    <!-- Bootstrap JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>


    <!-- Customized Bootstrap Stylesheet -->
    <link href="/css/style.css" rel="stylesheet">

    <!-- <script src="/node_modules/sweetalert/dist/sweetalert.min.js"></script> -->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


    <style>
        .card {
            width: 100%;
            height: 400px;
            /* or any other desired height */
        }

        .first.col-lg-6 .card.card-dashboard {
            border: none !important;
        }

        .card-header {
            overflow: hidden;
        }

        #cardAddAddress {
            height: 200px !important;
        }
    </style>



</head>
<div class="container-fluid pt-5">
    <form id="checkout-form">
        <div class="row px-xl-5">

            <div class="col-lg-8">
                <div class="mb-4">
                    <div class="first col-lg-6">
                        <div id="cardAddAddress" class=" card card-dashboard">
                            <div class="card-body">
                                <h3 class="card-title">Shipping Address</h3><!-- End .card-title -->


                                <button type="button" class="btn btn-primary rounded" data-toggle="modal"
                                    data-target="#newAddress" data-whatever="@mdo">Add new address</button>

                                </p>
                            </div><!-- End .card-body -->
                        </div><!-- End .card-dashboard -->
                    </div><!-- End .col-lg-6 -->

                    <h4 class="card-title">Billing Details</h4><!-- End .card-title -->

                    <p>
                        Select An Address
                    </p>

                    <div class="radio form-group">
                        <div class="custom-control custom-radio">

                            <input type="text" name="userId" value="<%= user._id %>" hidden>

                            <% for (let i=0; i < address.length; i++) { %>

                                <div class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" id="address<%= address[i]._id %>"
                                        name="addressSelected" value="<%= address[i]._id %>">
                                    <label class="custom-control-label" for="address<%= address[i]._id %>">
                                        <%= address[i].first_name %>
                                            <%= address[i].last_name %><br>
                                                <%= address[i].address %><br>
                                                    <%= address[i].mobile %><br>
                                                        Pin: <%= address[i].pincode %><br>
                                                            <a type="button"
                                                                onclick="getAddress('<%= address[i]._id %>')"
                                                                class="btn btn-primary rounded" data-toggle="modal"
                                                                data-target="#editAddress"
                                                                data-whatever="@getbootstrap">Edit Address</a>
                                    </label>
                                </div>
                                <br>
                                <br>
                                <br>
                                <% } %>
                        </div>
                    </div>



                    <!-- <button type="button" class="btn btn-primary rounded" data-toggle="modal" data-target="#editaddress"
                                    data-whatever="@getbootstrap">Edit Address</button> -->












                    <!-- <div class="modal fade" id="example" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
                    aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">AD </h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form>
                                    <div class="form-group">
                                        <label for="address" class="col-form-label">Address:</label>
                                        <textarea class="form-control" id="address" readonly>AFSAL</textarea>
                                        <textarea class="form-control" id="address" readonly>MUHAMMED</textarea>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary">Send message</button>
                            </div>
                        </div>
                    </div>
                </div> -->

                </div>

            </div>
            <div class="col-lg-4">
                <div class="input-group">
                    <input type="text" name="couponCode" id="couponCode" class="form-control p-4" placeholder="Coupon Code">
                    <div class="input-group-append">
                        <button class="btn btn-primary" onclick="applyCoupon('<%= totalAmount %>')" >Apply Coupon</button>
                    </div>
                </div>
                <span id="couponApplySuccess" class="text-success"></span>
				<span id="couponApplyFail" class="text-danger"></span>
                <div class="card border-secondary mb-5">

                    <div class="card-header bg-secondary border-0">
                        <h4 class="font-weight-semi-bold m-0">Order Total</h4>
                    </div>
                    <div class="card-body">
                        <h5 class="font-weight-medium mb-3">Products</h5>
                        <% for (let i=0; i < cartItems.length; i++) { %>
                            <div class="d-flex justify-content-between">

                                <p>
                                    <%= cartItems[i].product.prodName %>
                                </p>
                                <p>
                                    <%= cartItems[i].product.prodPrice %>
                                </p>

                            </div>
                            <% } %>
                                <hr class="mt-0">
                                <div class="d-flex justify-content-between mb-3 pt-1">
                                    <% let subtotal=0; %>
                                        <% for (let i=0; i < cartItems.length; i++) { %>
                                            <% subtotal +=cartItems[i].product.prodPrice; %>
                                                <% } %>

                                </div>
                    </div>


                    <div class="card-footer border-secondary bg-transparent">

                        <div class="d-flex justify-content-between mt-2">
                            <h5 class="font-weight-bold">Subtotal</h5>
                            <h5   class="font-weight-bold">
                                <%= totalAmount %>
                            </h5>
                        </div>

                        <div class="d-flex justify-content-between mt-2">
                            <h5 class="font-weight-bold">Discount</h5>
                            <h5 id="discount"  class="font-weight-bold">
                                0.00
                            </h5>
                        </div>

                        <div class="d-flex justify-content-between mt-2">
                            <h5 class="font-weight-bold">Total</h5>
                            <h5 class="font-weight-bold" id="totalAmount"  >
                                <%= totalAmount %>
                            </h5>
                        </div>
                    </div>

                </div>
                <div class="card border-secondary mb-5">
                    <div class="card-header bg-secondary border-0">
                        <h4 class="font-weight-semi-bold m-0">Payment</h4>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" name="payment" id="COD" value="COD">
                                <label class="custom-control-label" for="COD">Cash on delivery</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" name="payment" id="online"
                                    value="onlinePayment">
                                <label class="custom-control-label" for="online">Online Payment</label>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer border-secondary bg-transparent">
                        <button class="btn btn-lg btn-block btn-primary font-weight-bold my-3 py-3" type="submit">Place
                            Order</button>
                    </div>
                </div>
            </div>

        </div>
    </form>
</div>

<!-- add address modal -->
<div class="modal fade" id="newAddress" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">ADD ADDRESS</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="add-address-form">
                    <div class="form-group">
                        <label for="first-name" class="col-form-label">First Name:</label>
                        <input type="text" class="form-control" id="first-name" name="fname">
                    </div>

                    <input name="id" value="<%= loginUser._id %>" type="text" hidden>

                    <div class="form-group">
                        <label for="last-name" class="col-form-label">Last Name:</label>
                        <input type="text" class="form-control" id="last-name" name="lname">
                    </div>
                    <div class="form-group">
                        <label for="mobile" class="col-form-label">Mobile:</label>
                        <input type="tel" class="form-control" id="" name="mobile">
                    </div>
                    <div class="form-group">
                        <label for="email" class="col-form-label">Email ID:</label>
                        <input type="email" class="form-control" id="" name="email">
                    </div>
                    <div class="form-group">
                        <label for="address" class="col-form-label">Address:</label>
                        <textarea class="form-control" id="" name="address"></textarea>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="city" class="col-form-label">City:</label>
                            <input type="text" class="form-control" id="" name="city">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="state" class="col-form-label">State:</label>
                            <input type="text" class="form-control" id="" name="state">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="country" class="col-form-label">Country:</label>
                            <input type="text" class="form-control" id="" name="country">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="pincode" class="col-form-label">Pincode:</label>
                            <input type="number" class="form-control" id="" name="pincode">
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">ADD</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

<!--edit Address modal  -->
<div class="modal fade" id="editAddress" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">EDIT ADDRESS</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="edit-address-form">
                    <div class="form-group">
                        <label for="fname" class="col-form-label">First Name</label>
                        <input type="text" class="form-control" id="fname" name="fname">
                    </div>


                    <input name="addressId" id="addressId" type="text" hidden>

                    <div class="form-group">
                        <label for="lname" class="col-form-label">Last Name:</label>
                        <input type="text" class="form-control" id="lname" name="lname">
                    </div>
                    <div class="form-group">
                        <label for="mobile" class="col-form-label">Mobile:</label>
                        <input type="tel" class="form-control" id="mobile" name="mobile">
                    </div>
                    <div class="form-group">
                        <label for="email" class="col-form-label">Email ID:</label>
                        <input type="email" class="form-control" id="email" name="email">
                    </div>
                    <div class="form-group">
                        <label for="address" class="col-form-label">Address:</label>
                        <textarea class="form-control" id="address" name="address"></textarea>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="city" class="col-form-label">City:</label>
                            <input type="text" class="form-control" id="city" name="city">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="state" class="col-form-label">State:</label>
                            <input type="text" class="form-control" id="state" name="state">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="country" class="col-form-label">Country:</label>
                            <input type="text" class="form-control" id="country" name="country">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="pincode" class="col-form-label">Pincode:</label>
                            <input type="number" class="form-control" id="pincode" name="pincode">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary">EDIT</button>
                        </div>
                    </div>

                </form>
            </div>

        </div>
    </div>
</div>
<!-- Checkout End -->
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script src="path/to/toastify.js"></script>

<script>
    $(document).ready(function () {
        $('#checkout-form').submit((e) => {
            e.preventDefault();
            // let data=JSON.stringify($('#checkout-form').serialize())
            // console.log($('#checkout-form').serialize().payment);
            // console.log(data.payment);
            // console.log($('#checkout-form').serialize().addressSelected);
            console.log("hello");
            $.ajax({
                url: '/place-order',
                type: 'post',
                data: $('#checkout-form').serialize()
            })
                .done((response) => {
                    if (response.error) {
                        Toastify({
                            text: `${res.message}`,
                            duration: 3000,
                            newWindow: true,
                            close: true,
                            gravity: "top", // `top` or `bottom`
                            position: "center", // `left`, `center` or `right`
                            stopOnFocus: true, // Prevents dismissing of toast on hover
                            style: {
                                background: "linear-gradient(to right, #00b09b, #96c93d)",
                            },

                        }).showToast();
                    } else if (response.payment === 'COD') {
                        console.log("payment done");
                        location.href = "/order-success";
                    } else if (response.payment === 'onlinePayment') {
                        console.log(response);
                        razorpayPayment(response.response);
                    }

                })
                .fail((err) => {
                    console.log("Error occured");
                    console.log(err);
                })
        })
    })

    function razorpayPayment(order) {
        var options = {
            "key": "rzp_test_uqjS5a2hmaYBoQ",
            "amount": order.amount,
            "currency": "INR",
            "name": "Skathelets",
            "description": "Test Transaction",
            "image": "https://example.com/your_logo",
            "order_id": order.razorpay_order_id, // Use the Razorpay order ID
            "handler": function (response) {
                
                console.log(response, order);
                verifyPayment(response, order);
            },
            "prefill": {
                "name": "Gaurav Kumar",
                "email": "gaurav.kumar@example.com",
                "contact": "9000090000"
            },
            "notes": {
                "address": "Razorpay Corporate Office"
            },
            "theme": {
                "color": "#3399cc"
            }
        };

        var rzp1 = new Razorpay(options);
        rzp1.open();
    }


    function verifyPayment(payment, order) {
        console.log(payment);
        $.ajax({
            url: '/verify-payment',
            data: {
                payment,
                order
            },
            method: 'post',
            success: (res) => {
                console.log(res);
            }
        });
    }
</script>

<script>
    $(document).ready(function () {
        $('#add-address-form').submit((e) => {
            e.preventDefault();
            $.ajax({
                url: '/add-address',
                type: 'post',
                data: $('#add-address-form').serialize()
            })
                .done((res) => {
                    swal({
                        title: "Success",
                        text: "New Address added.",
                        icon: "success",
                        button: "OK",
                    }).then(() => {
                        console.log(res.message);
                        location.reload()

                    })
                })
                .fail((err) => {
                    console.log(err);
                })
        })
    })


    function getAddress(addressId) {
        $.ajax({
            url: '/edit-address/' + addressId,
            type: 'get',
        }).done((res) => {
            console.log(res);
            document.getElementById('addressId').value = res.address._id;
            document.getElementById('fname').value = res.address.first_name;
            document.getElementById('lname').value = res.address.last_name;
            document.getElementById('mobile').value = res.address.mobile;
            document.getElementById('email').value = res.address.email_id;
            document.getElementById('address').value = res.address.address;
            document.getElementById('country').value = res.address.country;
            document.getElementById('state').value = res.address.state;
            document.getElementById('city').value = res.address.city;
            document.getElementById('pincode').value = res.address.pincode;
        }).fail((error) => {
            console.log(error);
        });
    }

    $(document).ready(function () {
        $('#edit-address-form').submit((e) => {
            e.preventDefault();
            $.ajax({
                url: '/edit-address',
                type: 'post',
                data: $('#edit-address-form').serialize()
            })
                .done((res) => {
                    swal({
                        title: "Success",
                        text: "Address Updated.",
                        icon: "success",
                        button: "OK",
                    }).then(() => {
                        console.log(res.message);
                        location.reload()
                    })
                })
                .fail((err) => {
                    console.log(err);
                })
        })
    })

    function applyCoupon(totalAmount) {
		const couponCode = document.getElementById('couponCode').value;
		console.log(couponCode)
        console.log(totalAmount)

		$.ajax({
			url: '/apply-coupon',
			type: 'post',
			data: {
				couponCode: couponCode,
			}
		})
			.done((res) => {
				if (res.status) {
					console.log("hello");
					console.log(res);
					document.getElementById('couponApplyFail').classList.add('d-none')
					document.getElementById('couponApplySuccess').classList.remove('d-none')
					document.getElementById('couponApplySuccess').innerHTML = res.message
					document.getElementById('discount').innerHTML = -res.discount
					document.getElementById('totalAmount').innerHTML = res.cart.totalAmount
				} else {
					console.log(res);
					document.getElementById('couponApplySuccess').classList.add('d-none')
					document.getElementById('couponApplyFail').classList.remove('d-none')
					document.getElementById('couponApplyFail').innerHTML = res.message


				}
			})
	}
</script>